img{
    position: relative;
}

h2          {
    position: absolute;
    color:rgb(255, 255, 255);
    top: 40%;
    left:80px;
    font-size: 28px;

}

.header h1{
    background-color: rgb(0, 0, 0);
    color:white;
    position: relative;
}

.hamberger{
    top:35px;
    left:20px;
    color:white;
    position: absolute;
}

.about{
    text-align: right;
    color:rgb(255, 255, 255);
    position: absolute;
    top:40px;
    left:90%;
}

.follow{
    left:5%;
    color: rgb(255, 255, 255);
    top:40px;
    position: absolute;
}

.bodyimg p{
    position:absolute;
    top:17%;
    color: rgb(78, 255, 246);
    left:27%;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.menu h1{
    text-align:center;
    left:190%;
}

.origami {
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color:cadetblue;
    
    width:350px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
   
    
}

body{
    background-color:rgb(66, 66, 97);
    
}

img{
    border-radius: 20px;
}

.grid img{
    border: solid 5px black;
    border-radius: 50px;
    
}

.grid{
   
    display:flex;
    flex-wrap: wrap;
    font-family:initial
}

a:link{
    color:rgb(173, 255, 234)
}

a:visited{
    color: rgb(178, 250, 230);
}